body{ 
font-family: "Centaur", Times, serif;
background-image:url("http://www.psdgraphics.com/file/abstract-water-decoration.jpg");
}

H1 {
text-align:"center";
font-size: 6em; 
} /* 40px/16=2.5em */

H2 {
font-size: 3em;
} /* 40px/16=2.5em */

H3 {
font-size: 2em;
} /* 40px/16=2.5em */

p{
	font-size: 1.75em;
}